<div class="piqora_single_author_dis">
            	<figure class="piqora_single_author_image">
                	<img src="../img/authorPp/{{ page.author }}.png" alt=""/>
                </figure>
                
                <div class="piqora_single_author_detail">
                	<h2>{{ page.author }}</h2>
                    <p>{{ page.author-desc }}</p>
                    <ul class="piqora_single_author_social">
                    	<<li class="no-left-mar"><a href="{{ page.authorTwitter }}" target="_blank"><i class="fa fa-twitter">&nbsp;</i></a></li>
                    	<li><a href="{{ page.authorLinkedin }}" target="_blank"><i class="fa fa-linkedin">&nbsp;</i></a></li>
                    </ul>
                </div>