<footer id="footer-nav">
            <div class="container">
                <div class="footer-navigation">
                    <div class="footer-section">    
                        <h6>Product</h6>
                        <ul>
                            <li><a href="/products/pinterest">Pinterest Marketing</a></li>
                            <li><a href="/products/instagram">Instagram Marketing</a></li>
                            <!--<li><a href="/products/tumblr">Tumblr Marketing</a></li>-->
                        </ul>
                    </div>
                    <div class="footer-section">    
                        <h6>Resources</h6>
                        <ul>

                            <li><a href="/resources#quick-guides">Quick Guides</a></li>
                            <li><a href="/resources#case-studies">Case Studies</a></li>
                            <li><a href="/resources#research-reports">Research</a></li>
                        </ul>
                    </div>
                    <div class="footer-section">    
                        <h6>Contact</h6>
                        <ul>
                            <li><a id="olark_chat" href="javascript:void(0);" onclick="olark('api.box.expand')">Chat with Us</a></li>
                            <li><a href="mailto:hello@piqora.com">Get in Touch</a></li>
                            <li><a href="/get-a-demo">Request a Demo</a></li>
                        </ul>
                    </div>
                    <div class="footer-section">    
                        <h6>Company</h6>
                        <ul>
                            <li><a href="/why-piqora">Why Piqora</a></li>
                            <li><a href="/press">Press</a></li>
                            <li><a href="http://blog.piqora.com" target="_blank">Piqora Blog</a></li>
                        </ul>
                    </div>
                    <div class="footer-section">    
                        <h6>Legal</h6>
                        <ul>
                            <li><a href="/terms">Terms of Service</a></li>
                            <li><a href="/data">Data Policy</a></li>
                            <li><a href="/privacy">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <ul class="social-icons">
                        <h6>Follow us on</h6>
                        <li><a href="http://twitter.com/piqora" target="_blank"><img src="../img/icon-social-twitter.png"></a></li>
                        <li><a href="http://www.facebook.com/PiqoraSuite" target="_blank"><img src="../img/icon-social-facebook.png"></a></li>
                        <li><a href="http://www.pinterest.com/piqora/" target="_blank"><img src="../img/icon-social-pinterest.png"></a></li>
                        <li><a href="https://plus.google.com/+Piqora" target="_blank"><img src="../img/icon-social-google.png"></a></li>
                        <li><a href="http://instagram.com/piqora" target="_blank"><img src="../img/icon-social-instagram.png"></a></li>
                        <li><a href="https://www.linkedin.com/company/piqora" target="_blank"><img src="../img/icon-social-linkedin.png"></a></li>
                    </ul>
                </div>
                <p>© 2012–2014 Piqora Inc. All rights reserved.</p>
            </div>
        </footer>
        <script src="../js/vwm.js"> </script>
        </body>
        </html>
        