
</head>
  <body>
   <header id="main-header" class="">
    <h1 class="logo"><a href="/">Piqora</a></h1>
    <ul class="main-navigation">
        <li>
            <a class="active-nav" href="/products/pinterest">Visual Marketing Suite</a>
            <ul class="secondary-navigation product-navigatoin">
                <li>
                    <a href="/scheduler/">
                        Pinterest and Instagram Scheduler
                    </a>
                </li>
                <li>
                    <a href="/tapshop/">
                        Tapshop: Shoppable Instagram
                    </a>
                </li>
                <li>
                    <a href="/promotions/">
                        Pinterest and Instagram Promotions &amp; Contests
                    </a>
                </li>
                <li>
                    <a href="/galleries/">
                        UGC and Top Pin Gallery
                    </a>
                </li>
            </ul>
        </li>
         <li>
            <a href="/resources">Resources</a>
            <ul class="secondary-navigation">
                <li>
                    <a href="/resources#guides">
                        Strategy Guides
                    </a>
                </li>
                <li>
                    <a href="/webinars">
                        Webinars
                    </a>
                </li>
                <li>
                    <a href="/resources#resrep">
                        Research Reports
                    </a>
                </li>
                <li>
                    <a href="http://blog.piqora.com">
                        Visual Marketer Blog
                    </a>
                </li>
                
            </ul>
        </li>
        <li>
            <a href="/customers">Customers</a>
            <ul class="secondary-navigation product-navigatoin">
                <li>
                    <a href="/customers">
                        Our Customers
                    </a>
                </li>
                <li>
                    <a href="/resources#case-studies">
                        Case Studies
                    </a>
                </li>
            </ul>
        </li>
        
       
        <li>
            <a href="/#">About Us</a>
            <ul class="secondary-navigation">
                <li>
                    <a href="/why-piqora.html">
                        Why Piqora?
                    </a>
                </li>
                <li>
                    <a href="/press.html">
                        Press
                    </a>
                </li>
                <li>
                    <a href="/team.html">
                        Team
                    </a>
                </li>
            </ul>
        </li>
        
    </ul>
    <ul class="featured-navigation">
        <li class="jump-navigation">
            <a href="#footer-nav">Navigation</a>
        </li>
        <li>
            <a href="/get-a-demo" class="main-cta">Get a demo</a>
        </li>
        <li class="login-navigation">
            <a href="https://app.piqora.com">Login</a>
        </li>
    </ul>
</header>