
</head>
  <body>
   <header id="main-header" class="">
    <h1 class="logo"><a href="/">Piqora</a></h1>
    <ul class="main-navigation">
        <li>
            <a class="active-nav" href="/visual-marketing-suite/">Visual Marketing Suite</a>
            <ul class="secondary-navigation product-navigatoin vms-nav-dd">
                <li>
                    <span class="tblue"><a class="tpink" href="#">Learn More: </a>Piqora’s Visual Marketing Suite</span>
                </li>
                <ul>
                <li>
                    <a href="/pinterest-instagram-scheduler/">
                        Pinterest and Instagram Scheduler
                    </a>
                </li>
                <li>
                    <a href="/tapshop/">
                        Tapshop: Shoppable Instagram
                    </a>
                </li>
                <li>
                    <a href="/pinterest-instagram-contests/">
                        Pinterest and Instagram Promotions &amp; Contests
                    </a>
                </li>
                <li>
                    <a href="/pinterest-instagram-analytics/">
                        Pinterest and Instagram Advanced Analytics 
                    </a>
                </li>
                
                <li>
                    <a href="/pinterest-instagram-galleries/">
                        UGC and Top Pin Gallery
                    </a>
                </li>
                </ul>
            </ul>
        </li>
         <li>
            <a href="/resources">Resources</a>
            <ul class="secondary-navigation">
                <li>
                    <a href="/resources#guides">
                        Strategy Guides
                    </a>
                </li>
                <li>
                    <a href="/webinars">
                        Webinars
                    </a>
                </li>
                <li>
                    <a href="/resources#resrep">
                        Research Reports
                    </a>
                </li>
                <li>
                    <a href="/blog/">
                        Visual Marketer Blog
                    </a>
                </li>
                
            </ul>
        </li>
        <li>
            <a href="/customers">Customers</a>
            <ul class="secondary-navigation product-navigatoin">
                <li>
                    <a href="/customers">
                        Our Customers
                    </a>
                </li>
                <li>
                    <a href="/resources#case-studies">
                        Case Studies
                    </a>
                </li>
            </ul>
        </li>
        
       
        <li>
            <a href="/#">About Us</a>
            <ul class="secondary-navigation">
                <li>
                    <a href="/why-piqora/">
                        Why Piqora?
                    </a>
                </li>
                <li>
                    <a href="/press/">
                        Press
                    </a>
                </li>
                <li>
                    <a href="/about-us/team/">
                        Team
                    </a>
                </li>
            </ul>
        </li>
        
    </ul>
    <ul class="featured-navigation">
        <li class="jump-navigation">
            <a href="#footer-nav">Navigation</a>
        </li>
        <li>
            <a href="/get-a-demo" class="main-cta">Get a demo</a>
        </li>
        <li class="login-navigation">
            <a href="https://app.piqora.com">Login</a>
        </li>
    </ul>
</header>
