---
layout: default-dir
title:  Piqora | Blog
description:  This is Piqora's Single Post Page
category: testing 1
overview: true
---  
   
        <section class="sc-page-content">
        	<h2 class="sc-page-title"> Testing 1 </h2> 
            
            {% for post in site.posts %}
            {% if post.category == page.category %}
            <div class="sc-content-list">
            	<figure class="piqora_sc_list_img"><img src="{{ post.imgSrc }}" alt=""/>
                
                <!---------- Overlay tab start-------->
                <div class="piqora_sc_list_img-overlayoo">
                	<div class="piqora_sc_list_img-overlayoo-content">
                        <h5><a href="{{ site.baseurl }}/category/{{ post.category }}">{{ post.category }}</a></h5>
                        <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
                        <ul>
                         <li><i class="fa fa-clock-o"> </i> Nov 13, 2014</li>
                         <li ><i class="fa fa-heart-o"> </i>  17 </li>
                         <li ><i class="fa fa-comment-o"> </i>  268 </li>
                        <div class="clear"></div> 
                        </ul>
                    <div class="clear"></div>    
                    </div>
                </div>
            	<!---------- Overlay tab end-------->
                </figure>
                
                <div class="piqora_sc_list_dis">
                	<div class="piqora_sc_list_dis-name"> <img src="../img/authorPp/{{ post.author }}.png" alt=""/> <span>By:  <a href="{{ site.baseurl }}/author/{{ post.author }}">{{ post.author }}</a></span> </div>
                    <p>{{ post.excerpt }}</p>
                   <a href="{{ site.baseurl }}{{ post.url }}" class="read-button">Read full article</a> 
                </div>
            <div class="clear"></div>    
            </div>
            {% endif %}
  {% endfor %}
            
        </section>